<div class="row">
   <h1>Hard & Soft Skills</h1>
   <div class="text-center col-sm-4 col-md-4 col-lg-4">
       <circle-progress
       [percent]="100"
       [radius]="100"
       [imageSrc]="'../assets/FotoMia.jpg'"
       [showImage]="false"
       [imageHeight]="70"
       [imageWidth]="70"
       [showUnits]="false"
       [title]="'DERECHO'"
       [titleColor]="'black'"
       [outerStrokeWidth]="16"
       [innerStrokeWidth]="8"
       [outerStrokeColor]="'blanchedalmond'"
       [innerStrokeColor]="'#C7E596'"
       [animation]="true"
       [animationDuration]="600"
   ></circle-progress>
   </div>
   <div class="text-center col-sm-4 col-md-4 col-lg-4">
       <circle-progress
       [percent]="60"
       [radius]="100"
       [imageSrc]="'../assets/FotoMia.jpg'"
       [showImage]="false"
       [imageHeight]="70"
       [imageWidth]="70"
       [showUnits]="true"
       [title]="'Full Stack Dev Jr'"
       [titleColor]="'black'"
       [outerStrokeWidth]="16"
       [innerStrokeWidth]="8"
       [outerStrokeColor]="'blanchedalmond'"
       [innerStrokeColor]="'#C7E596'"
       [animation]="true"
       [animationDuration]="600"
   ></circle-progress>
   </div>
   <div class="text-center col-sm-4 col-md-4 col-lg-4">
       <circle-progress
       [percent]="50"
       [radius]="100"
       [imageSrc]="'../assets/FotoMia.jpg'"
       [showImage]="false"
       [imageHeight]="70"
       [imageWidth]="70"
       [showUnits]="false"
       [title]="'Inglés'"
       [titleColor]="'black'"
       [outerStrokeWidth]="16"
       [innerStrokeWidth]="8"
       [outerStrokeColor]="'blanchedalmond'"
       [innerStrokeColor]="'#C7E596'"
       [animation]="true"
       [animationDuration]="600"
   ></circle-progress>
   </div>
   <div class="text-center col-sm-4 col-md-4 col-lg-4">
       <circle-progress
       [percent]="80"
       [radius]="100"
       [imageSrc]="'../assets/FotoMia.jpg'"
       [showImage]="false"
       [imageHeight]="70"
       [imageWidth]="70"
       [showUnits]="false"
       [title]="'Creatividad'"
       [titleColor]="'black'"
       [outerStrokeWidth]="16"
       [innerStrokeWidth]="8"
       [outerStrokeColor]="'blanchedalmond'"
       [innerStrokeColor]="'#C7E596'"
       [animation]="true"
       [animationDuration]="600"
   ></circle-progress>
   </div>
   <div class="text-center col-sm-4 col-md-4 col-lg-4">
       <circle-progress
       [percent]="100"
       [radius]="100"
       [imageSrc]="'../assets/FotoMia.jpg'"
       [showImage]="false"
       [imageHeight]="70"
       [imageWidth]="70"
       [showUnits]="false"
       [title]="'compañerismo'"
       [titleColor]="'black'"
       [outerStrokeWidth]="16"
       [innerStrokeWidth]="8"
       [outerStrokeColor]="'blanchedalmond'"
       [innerStrokeColor]="'#C7E596'"
       [animation]="true"
       [animationDuration]="600"
   ></circle-progress>
   </div>
   <div class="text-center col-sm-4 col-md-4 col-lg-4">
       <circle-progress
       [percent]="90"
       [radius]="100"
       [imageSrc]="'../assets/FotoMia.jpg'"
       [showImage]="false"
       [imageHeight]="70"
       [imageWidth]="70"
       [showUnits]="false"
       [title]="'capacidad resolutiva'"
       [titleColor]="'black'"
       [outerStrokeWidth]="16"
       [innerStrokeWidth]="8"
       [outerStrokeColor]="'blanchedalmond'"
       [innerStrokeColor]="'#C7E596'"
       [animation]="true"
       [animationDuration]="600"
   ></circle-progress>
   </div>
</div>