<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1>estudio1</h1> <h3>(years)</h3></li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, consequuntur, autem maiores sapiente quaerat eaque ea in recusandae incidunt similique consequatur nesciunt quo illo nemo possimus facilis adipisci hic deleniti?
            </p>
        </ul>
        <ul>
            <li><h1>estudio2</h1> <h3>(years)</h3></li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, consequuntur, autem maiores sapiente quaerat eaque ea in recusandae incidunt similique consequatur nesciunt quo illo nemo possimus facilis adipisci hic deleniti?
            </p>
        </ul>
        <ul>
            <li><h1>estudio3</h1> <h3>(years)</h3></li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, consequuntur, autem maiores sapiente quaerat eaque ea in recusandae incidunt similique consequatur nesciunt quo illo nemo possimus facilis adipisci hic deleniti?
            </p>
        </ul>
</div>
