<div class="row" >
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"> 
        <img src="../../../assets/WhatsApp-Image-2023-04-27-at-14.50.10.png" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">ROSSA OLSEN AGUSTIN</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8"> 
        <span>
            <h1>Acerca de mí</h1>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat odit iure odio sunt et, iste a vero adipisci autem necessitatibus, officiis, at earum? Perferendis architecto cupiditate possimus nesciunt rem blanditiis.
        </p>
        </span>
    </div>
    </div>
    
