<div class="row" >
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"> 
        <img src="../../../assets/WhatsApp-Image-2023-04-27-at-14.50.10.png" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8"> 
        <span>
            <h1>Acerca de mí</h1>
        <p>
        Hola! Mi nombre es Agustin Rossa, tengo 23 años y actualmente me encuentro viviendo 
        en la Ciudad de Cordoba,Argentina.Soy estudiante avanzado de Derecho en la UNC;
        Mi objetivo en programacion es aprender en general del desarrollo full stack antes 
        de basarme en que lenguaje deseria trabajar!
        </p>
        </span>
    </div>
    </div>

