
<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1>Urban Importados</h1> <h3>(2019-2023)</h3></li>
            <p> administrador en venta de ropa Masculina</p>
            
        </ul>
        <ul>
            <li><h1>Pizzeria Roberto</h1> <h3>(2020-2023)</h3></li>
            <p>
              Atencion comercial;Manejo de caja y personal a cargo
            </p>
        </ul>
        <ul>
            <li><h1>El barcito</h1> <h3>(2022-2023)</h3></li>
            <p>
               Atencion comercial
            </p>
        </ul>
</div>
